<!-- <div>
  <li class="home_300x250" style="height:auto">
    <ins class="adsbygoogle home_adds" style="display:inline-block;" data-ad-client="ca-pub-3428031914463355"
        data-ad-slot="4403689124"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=drfahrettinkoca&count=2
    </script>
</li>
</div>
<br> -->
<!-- <a class="twitter-timeline" href="https://twitter.com/drfahrettinkoca?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> -->
