<div class="news">
    <ul class="items">
        <li *ngFor="let news of newsList$ | async;trackBy: byId" class="news-list">
            <a [routerLink]="[ news.newsId ]" [state]="{loggedID: this.userService.loggedUser?this.userService.loggedUser.id:''}">
                <app-files-list [thumbName]="'thumb-kapak-' + (news.thumb ? news.thumb : 'bae.jpg')"></app-files-list>
                <div [style.height.px]="height" style="padding-left: 10px; width: 100%;">
                    <h4 [style.height.px]="thumbHeight">
                        <span class='date' [style.font-size.px]="fontSize">{{news.date | date:'medium'}}</span>
                        <br>
                        <span class="text" *ngIf="news.topic.charAt(0)!=='#'">{{news.topic.split('#')[0]}}</span>
                        <span class="text" *ngFor="let tag of news.topics; let i = index">
                            <a class="tag" (click)="onTagClick(tag);$event.stopPropagation();$event.preventDefault()"
                                style="font-weight: 600;color: #666666"> {{tag}} </a>
                            {{news.topic.split('#')[i + 1].replace(news.topics[i].substring(1), '')}}
                        </span>
                    </h4>
                    <label *ngIf="location.isCurrentPathEqualTo('/re')">
                        <a class="users" (click)="$event.stopPropagation();$event.preventDefault()"
                         routerLink="/allusers/{{news.newsOwner}}"
                            [state]="{userID: '@' + news.newsOwnerId, loggedID: this.userService.loggedUser?this.userService.loggedUser.id:''}"
                            style="margin-left: 0; color: #A9A9A9; font-size: 12px; font-weight: bold">
                            @{{news.newsOwner}}</a>
                    </label>
                    <label *ngIf="!location.isCurrentPathEqualTo('/re')">
                        <a class="users" (click)="$event.stopPropagation();$event.preventDefault()"
                        routerLink="/allusers/{{news.newsOwner}}" [style.pointer-events]="this.userService.loggedUser && news.newsOwnerId === this.userService.loggedUser.id ?'none':'auto'"
                            [state]="{userID: '@' + news.newsOwnerId, loggedID: this.userService.loggedUser?this.userService.loggedUser.id:''}"
                            style="margin-left: 0; color: #A9A9A9; font-size: 12px; font-weight: bold">
                            @{{news.newsOwner}} :: {{news.count}} :: {{newsCounts.get(news.newsId)}}</a>
                    </label>
                </div>
            </a>
        </li>
    </ul>
</div>