.fes{
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    color: inherit;
    background: transparent;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}